.video-container {
  position: relative;
  padding-bottom: 54.2%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content-grid {
 max-width: 1350px;
}

.list-item {
  text-decoration: none !important;
  margin-bottom: 15px;
}

.list-item p {
  color: #111111;
  font-weight: 600;
  line-height: 15px;
}

.list {
  height: 100vh;
  overflow: scroll;
}

#autoplay-wrapper {
  padding: 0 !important;
}
